<h2 style="text-align: center;" class="imagen2">hola</h2>
<div class="mapa">
    
    <a href=""><img class="imagen" src="../../assets/images/puntarenas.png" style="width: 80%; left: 125px; top: 175px;"></a>

    <a href=""><img class="imagen" src="../../assets/images/alajuela.png" style="width: 40%; left: 100px; top: 25px;"></a>

    <a href=""><img class="imagen" src="../../assets/images/guanacaste.png" style="width: 36%; right:450px ; bottom:287px ;"></a>

    <a href=""><img class="imagen" src="../../assets/images/san jose.png" style=" width: 36%; right: 170px; top: 206px;"></a>

    <a href=""><img class="imagen" src="../../assets/images/limon.png" style=" width: 50%; height: 66%; left: 397px; top: 57px;"></a>

    <a href=""><img class="imagen" src="../../assets/images/heredia.png" style=" width: 16%; height: 30%; left: 355px; top: 90px;"></a>

    <a href=""><img class="imagen" src="../../assets/images/cartago.png" style=" width: 24%; right: 150px; top: 219px;"></a>

    
</div>